.kullaniciGirisi,
.kullaniciTanimlama,
.kullaniciListeleme{
    margin-top: 50px;
    margin-left: 300px;
}
.menu{
    height: 100vh; 
    width: 300px; 
    left: 0; 
    position: fixed; 
    top: 0;
}
